.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: white;
  background-color: var(--clr-Neutral-900);
}

.header img {
  width: 24px;
}
.header-middle{
  margin-inline: 10px;
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.header-right {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* MOBILE: hide title + description */
.header-left__content {
  display: none;
}

.pb-desktop {
  display: none;
}

.pb-mobile {
  display: inline;
}


@media screen and (min-width: 725px) {
  .header-left {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .header-left__content {
    display: block;
  }

  .header-left h1 {
    font-size: 1.5rem;
  }

  .header-left p {
    font-size: 0.75rem;
  }
.header-middle{
  flex-direction: row;
}
  .pb-desktop {
  display: inline;
}

.pb-mobile {
  display: none;
}
}
