.start-test-btn {
  background-color: var(--clr-Blue-600);
  padding: 15px 20px;
  border: none;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 12px;
  font-size: 1.125rem;
}

.typing-section{
    margin-top: 15px;
}
