.start-test-btn {
  background-color: var(--clr-Blue-600);
  padding: 15px 20px;
  border: none;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 12px;
  font-size: 1.125rem;
}

.typing-section {
  position: relative;
  margin: 20px 15px;
  user-select: none; /* Prevents highlighting text */
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
  text-decoration: underline;
}

.active {
  text-decoration: underline;
}

.typing-text {
  line-height: 2rem;
  font-size: 1.25rem;
  color: var(--clr-Neutral-400);
}
